<div>
	Name: <%= @person.name %>
</div>
<div> Gender: <%= @person.gender %></div>
<% if @person.mother %>
	<div>Mother: <%= link_to @person.mother.name, @person.mother %> </div>
<% end %>
<% if @person.father %>
	<div> Father: <%= link_to @person.father.name, @person.father %> </div>
<% end %>
<div>
Children: 
<% @person.children.each do |person| %>
	<div>
	  <%= link_to person.name, person %> 
	</div>
<% end %> 

</div>	
<div> 
<%= link_to 'Изменить данные', edit_person_path(@person) %>
<%= link_to 'Удалить человека', person_path(@person), data: { "turbo-method": :delete } %>
<%= link_to 'На главную', people_path %>
</div>